// Define variables for your color scheme

// For example:
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$red: red;

$default-red: #F43B36;
$dark-red: #C32E2B;
$light-red: #F8807E;
