#mychargerspage {
  margin: 0 30px;
  a {
    text-decoration: none;
  }
}

.chargercard {
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 4px;
  margin-top: 14px;
  background-color: white;
  color: rgb(114, 114, 114);
  height: 120px;
  h2 {
    font-size: 18px;
    text-align: center;
  }
  h3 {
    font-size: 15px;
    text-align: center;
    color: rgb(114, 114, 114);
    font-weight: 400;
  }
  p {
    font-size: 12px;
    line-height: 13px;
    margin: 8px 0;
    text-align: center;
  }

}

.header-div {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
