<div id="logo-payment">
  <h2>Payment</h2>
</div>

<div class="input-field">
  <form action="#">
    <label for="card-owner">Card owner</label>
    <input class="form-control" id="cardholder-name" autofocus="autofocus" type="text">
    <br>
    <label for="card-info">Card details</label>
    <div class="form-control" id="card-element"></div>
    <%# <div id="card-number"></div>
    <div id="card-expiry"></div>
    <div id="card-cvc"></div> %>
    <br>
    <div id="card-result"></div>
  </form>
  <div class="tab-content-separator"></div>
  <div class="submit-buttons">
    <button class="btn btn-default" id="card-button">Save Card</button>
  </div>
  <div class="tab-content-separator"> </div>
    <div class="submit-buttons">
      <%= link_to "Cancel", plugs_path %>
    </div>
  </div>
</div>
<div id="stripe-key" class="d-none"><%=ENV['STRIPE_PUBLISHABLE_KEY']%></div>
<div id="plug-id" class="d-none"><%=@plug.id%></div>


<script>
// const stripeKey = document.getElementById("stripe-key")
// const stripe = Stripe(stripeKey)
// const elements = stripe.elements()
// const cardElement = elements.create('card');
// cardElement.mount('#card-element');

// const cardNumber = elements.create('cardNumber');
// cardNumber.mount('#card-number')
// const cardExpiry = elements.create('cardExpiry');
// cardExpiry.mount('#card-expiry')
// const cardCvc = elements.create('cardCvc');
// cardCvc.mount('#card-cvc')

// const cardholderName = document.getElementById('cardholder-name');
// const cardButton = document.getElementById('card-button');
// const resultContainer = document.getElementById('card-result');

// cardButton.addEventListener('click', function(ev) {
//   console.log(cardElement)
//   stripe.createPaymentMethod({
//       type: 'card',
//       card: cardElement,
//       billing_details: {
//         name: cardholderName.value,
//       },
//     }
//   ).then(function(result) {
//     if (result.error) {
//       resultContainer.textContent = result.error.message;
//     } else {
//       // resultContainer.textContent = "Created payment method: " + result.paymentMethod.id;
//       location.assign(`http://${window.location.host}/create_payment_id/${<%= @plug.id %>}/${result.paymentMethod.id}`)
//     }
//   });
// });
</script>
