<div class="logo">
  <h2>Payment</h2>
</div>

<div class="input-field">
  <form action="#">
  <label for="card-owner">Card owner</label>
  <%# <input type="card-owner" placeholder="Angelo Merte"> %>
  <input class="form-control" autofocus="autofocus" value="">
  <br>
  <label for="">Card number</label>
  <input class="form-control" autofocus="autofocus" value="">
  <br>
  <div class="mb-5" style="display: flex">
    <div style="margin-right: 5px">
      <label for="">Exp. date</label>
      <input class="form-control" autofocus="autofocus" value="">
    </div>
    <br>
    <div style="margin-left: 5px">
      <label for="">Security code</label>
      <input class="form-control" autofocus="autofocus" value="">
    </div>
  </div>
  </form>
    <div class="tab-content-separator"></div>
    <div class="submit-buttons">
      <%= link_to "Book Now", plug_bookings_path(@plug), method: :post, style: 'color: black' %>
    </div>
    <div class="tab-content-separator"> </div>
    <div class="submit-buttons">
      <%= link_to "Cancel", plugs_path %>
    </div>


  </div>
</div>
