<div>
  <div class="logo">
    <h2>Order summary</h2>
  </div>
  <div class="tab-card-stop-booking">
    <p><%= @booking.duration %></p>
    <p><%= @booking.cost %></p>
    <button>Write Review + <i class="far fa-keyboard"></i></button>
  </div>
  <div>
    <%# <%= link_to "Go back to Home", roots_path %>
  </div>
</div>
