<div id="javadiv-menu" data-controller="menu-slider">
  <div id="menu" data-menu-slider-target="menu">
    <div class="content" data-menu-slider-target="menuText">
      <div>
        <h2>Charge<br>Sharing</h2>
        <div class="content-separator"></div>
        <%= link_to 'FIND CHARGER', root_path %>
        <br>
        <%= link_to 'MY PROFILE', dashboard_path %>
        <br>
        <%= link_to 'MY CHARGER', dashboard_path %>
      </div>
      <div class="content-separator"></div>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>

  <div>
    <div class="container" data-action="click->menu-slider#toggleMenu"
         data-menu-slider-target="button">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

  <%# <div id="menu-content" data-menu-slider-target="menuContent">
    <h2>hello there</h2>
  </div> %>
</div>
