// THE TAB BUTTONS

// the div theyre inside
#tab-headers {
  display: flex;
  height: 66px;
  margin: 0px 30px;
  padding-top: 30px;
  font-family: 'Rajdhani', sans-serif;
}

// their style
#tab-headers div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 4px;
  border-radius: 8px;
  margin: 0 2px;
  background-color: white;
  color: rgb(255, 254, 254);
  width: 50%;
  transition: 0.3s;
  // box-shadow: 2px 2px 0px rgb(172, 172, 172);

  h4 {
    font-size: 19px;
    line-height: 20px;
    color: grey;
  }
}

//  their style when clicked
#tab-1.select, #tab-2.select, #tab-3.select {
  color: rgb(94, 94, 94);
  background-color: rgb(201, 201, 201);
  transition: 0.3s;
  box-shadow: 0px 0px 0px, inset 3px 3px 0px rgb(172, 172, 172);
  h4 {
    color: grey;
    font-weight: 600;
  }
}


// THE TAB PAGES

#tab-1-content, #tab-2-content, #tab-3-content {
  // display: none;
  opacity: 0;
  position: absolute;
  height: auto;
  width: calc(100% - 60px);
  background-color: rgb(228, 228, 228);
  // background-color: red;
  // box-shadow: inset 4px 4px 0px rgb(172, 172, 172);
  transition: 0.3s;
  margin: 30px;
  h2 {
    font-size: 18px;
    text-align: center;
  }
  h3 {
    font-size: 18px;
    text-align: center;
  }
  p {
    font-size: 15px;
    line-height: 19px;
    margin: 8px 0;
    text-align: center;
  }
  button {
    text-decoration: none;
  }
}

// tab-pages display animation
#tab-1-content.select, #tab-2-content.select, #tab-3-content.select {
  // display: block;
  opacity: 1;
  transition: 0.3;
}

@media (min-width: 1000px) {
  #tab-1-content, #tab-2-content, #tab-3-content {
    display: flex;
  }
}

// default buttons for all tabs
.tab-button {
  color: white;
  border-radius: 14px;
  background-color: $default-red;
  padding: 6px;
  display: inline-block;
}

// for the card design
.tab-card {
  border-radius: 8px;
  padding: 45px;
  margin-bottom: 30px;
  background-color: white;
  color: rgb(114, 114, 114);
  // font-family: 'Rajdhani', sans-serif;
  font-size: 35px;

  ul {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      height: 10px;
      // border: 2px solid red;
      line-height: 0px;
    }
  }
}

// the slim line between the booking/rating infos
.tab-content-separator {
  height: 1px;
  width: 65%;
  margin: 20px auto;
  background-color: rgb(199, 199, 199);
}

// to have some elements next to each other
.flexbox {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
