.delete-this-after-demo {
  margin: 0 40px;
  padding-top: 300px;
  // border: 2px solid black;
  color: rgb(114, 114, 114);
  text-align: center;
  h2 {
    text-shadow: 1px 1px 0px rgb(73, 73, 73);
    font-size: 22px;
  }
}
