#tab-1-content {
  h2 {
    font-size: 21px;
    font-family: 'Rajdhani', sans-serif;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 0px;
  }
  button {
    text-decoration: none;
  }
}

#avatar_name {
  // border: 2px dotted black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  font-family: 'Rajdhani', sans-serif;
}
