.mapboxgl-popup-content {
  border-radius: 25px !important;
  background-color: rgb(255, 255, 255) !important;
  color: black;
  // background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)) !important;
  box-shadow: 5px 5px 15px !important;
  position: relative;
  left: 24px;
  top: 5rem;
  padding: 15px 10px 15px !important;
  //margin: 2rem;
  //width: 100%;
  //display: flex;
}

.info-window-text   {
  padding: 8px;
  padding-top: 10px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
}

.selected {
  // background-color: rgb(154, 233, 154);
  // border-radius: 15px;
  // padding: 16px;
  background-image: asset_url('bolt8.png') !important;
}

.info-window-text h3 {
  color: $default-red;
  font-size: 22px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
  text-align: center;
}

.mapboxgl-ctrl-geolocate {
  background-image: url("crosshairgood.png") !important;
  border-radius: 50px;
}

.mapboxgl-ctrl-icon {
  background-image: url("crosshairgood.png") !important;
  background-size: contain !important;
  height: 22px !important;
  width: 30px !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  margin: 10px;
  font-size: xx-large;
  outline: transparent !important;

}

.mapboxgl-popup {
  transform: none !important;
  top: 15%;
  left: 10px;
}


.coolpopup .mapboxgl-popup.mapboxgl-popup-anchor-bottom,
.coolpopup .mapboxgl-popup.mapboxgl-popup-anchor-top,
.coolpopup .mapboxgl-popup.mapboxgl-popup-anchor-center,
.coolpopup .mapboxgl-popup.mapboxgl-popup-anchor-right,
.coolpopup .mapboxgl-popup.mapboxgl-popup-anchor-left,
.coolpopup .mapboxgl-popup.mapboxgl-popup-anchor-bottom-right,
.coolpopup .mapboxgl-popup.mapboxgl-popup-anchor-bottom-left,
.coolpopup .mapboxgl-popup.mapboxgl-popup-anchor-top-right,
.coolpopup .mapboxgl-popup.mapboxgl-popup-anchor-top-left {
  max-width: 305px !important;
}



.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  display: none !important;
  max-width: 305px !important;
}

// .mapboxgl-popup.mapboxgl-popup-anchor-bottom {
//   max-width: 95vw !important;
//   margin: 1.5rem !important;
//   margin-top: 5rem !important;
//   transform: none !important;
//   border-radius: 25px !important;
//   flex: none !important;
// }

// .mapboxgl-popup-close-button {
//   margin: 10px;
//   font-size: xx-large;
// }

// .mapboxgl-ctrl-logo {
//   display: none !important;
// }

// .mapboxgl-ctrl.mapboxgl-ctrl-attrib.mapboxgl-compact {
//   display: none !important;
// }

// .mapboxgl-ctrl-geolocate {
//   color: red !important;
// }

// //.mapboxgl-ctrl-icon {
//   //border-radius: 25px;
// //}

// .mapboxgl-ctrl.mapboxgl-ctrl-group {
//   border-radius: 25px;
//   background-color: #f33a3a;
// }

// .mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate {
//   transform:none !important;
// }

// .mapboxgl-popup{
//     transform:none !important;
//     position: absolute;
// }

// .mapboxgl-popup-anchor-top,
// .mapboxgl-popup-anchor-bottom,
// .mapboxgl-popup-anchor-center,
// .mapboxgl-popup-anchor-left,
// .mapboxgl-popup-anchor-right,
// .mapboxgl-popup-anchor-bottom-right,
// .mapboxgl-popup-anchor-bottom-left,
// .mapboxgl-popup-anchor-top-right,
// .mapboxgl-popup-anchor-top-left{
//     display:none !important;
//     transform:none !important;
// }

// .mapboxgl-canvas {
//   position: relative;
//   transform:none !important;
// }

// .mapboxgl-popup.mapboxgl-popup-anchor-bottom {
//   transform:none !important;
//   //transform:translate(none) !important;
// }

// .info-window p{
//   font-family: 'Rajdhani', sans-serif;
//   font-size: 15px;
//   font-weight: 400;
//   padding: .6rem;
//   margin: .4rem
//   ;

// }

// .info-window {
//   // background-color: rgb(250, 166, 166);
//   // border-radius: 25px;
//   border-radius: 8 !important;
//   padding: 50 !important;
//   margin-bottom: 30 !important;
//   background-color: white;
//   color: #727272;
// }
