.mapboxgl-ctrl-geocoder {
  border-radius: 25px !important;
  box-shadow: 5px 5px 15px !important;

}

.mapboxgl-ctrl-top-right {
  width: 100vw;
  padding: 1rem;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $default-red;
  position: fixed;
  top: calc(100vh - 100px);
  left: 35px;
}

.mapboxgl-canvas {
  width: 100vw !important;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin: auto !important;
}
