.mapboxgl-popup-content {
  border-radius: 25px;
  background-color: #e4e4e4;
  color: black;
}

#info-window-header {
  font-size: 20px !important;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

// #map {
//   z-index: -1;
// }
.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  max-width: 95vw;
  margin: 1.5rem;
  margin-top: 5rem;

}
