#menu {
  opacity: 0;
  width: 3px;
  left: 99%;
  height: 100%;
  position: fixed;
  // border: 2px solid red;
  color: white;
  background-color: $default-red;
  padding: 40px;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
  z-index: 2;
}

#menu.show-menu {
  opacity: 1;
  width: 65%;
  left: 35%;
  transition: all 0.4s ease-in-out;
}


#menu-content {
  color: black;
  position: fixed;
  top: 42px;
  left: 174px;
  transition: 0.4s;
}

#menu-content.move {
  left: 400px
  // transition: 0.5s;
}

// #javadiv-menu {
//   z-index: 20;
// }
