#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  width: 3px;
  left: 99%;
  height: 100%;
  position: fixed;
  // border: 2px solid red;
  color: white;
  background-color: $default-red;
  padding: 40px;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
  z-index: 2;
  h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    font-weight: 600;
  }
  a {
    color: white;
    font-size: 21px;
    line-height: 65px;
  }
}

#menu.show-menu {
  opacity: 1;
  width: 70%;
  left: 30%;
  transition: all 0.4s ease-in-out;
}

.content-separator {
  margin: 20px 0px;
  height: 4px;
  width: 400px;
  background-color: white;
}

.content {
  display: block;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // height: 100%;
}


.footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40%;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 30px  !important;
  padding-right: 22px;
}
.footer-links a:hover {
  color: rgb(114, 114, 114);
}














// #menu-content {
//   color: black;
//   position: fixed;
//   top: 42px;
//   left: 174px;
//   transition: 0.4s;
// }

// #menu-content.move {
//   left: 400px
//   // transition: 0.5s;
// }

// #javadiv-menu {
//   z-index: 20;
// }
