.tab-card-stop-booking {
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 0px;
  background-color: white;
  color: rgb(114, 114, 114);
  width: 19.5rem;
}
