<div class='info-window'>
  <div class="info-window-text">
    <p>PLUG TYPE: <%= plug.plug_type %></p>
    <p>COST: <%= plug.fixed_cost_per_15_min %></p>
    <p>DESCRIPTION: <%= plug.description %></p>
  </div>
  <% if plug.availability == 0 %>
    <button class="info-window-button"><%= link_to "CHARGE NOW", bookings_approve_path(plug) %></button>
  <% else %>
    <p>This Charger is currently unavailable</p>
  <% end %>
</div>
